/* author: Farhan Hyder */

html, body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative; 
    padding-top: 40px;
}

h1, h2, h3{
    text-transform: uppercase;
}

h1,h2{
    text-align: center;
}


#navbar{
    position: fixed; 
    top: -18px; 
    left: 0;
    width: 100%;
    background-color: bisque;
}

#welcome-section, #projects {
    top: 0;
    height: 100vh;
    padding-top: 20vh
}

#links{
    text-align: center;
    background-color: yellowgreen;
    width: 100%;
}



@media only screen and (max-width: 500px){
    
    html, body{
        background-color :white;
    }
}