/* author: Farhan Hyder */

html, body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative; 
    padding-top: 40px;
}


#navbar{
    position: fixed; 
    top: -18px; 
    left: 0;
    width: 100%;
    background-color: bisque;
}